@include component('clientes') {
    @include element('inner') {
        padding: 0px 0px 50px;
        margin: 0px auto;
        max-width: 1200px;
				@media(max-width: 1280px) {
					max-width: 1050px;
				}

        @media(max-width:1200px) {
            padding: 0px 0px 50px;
        }
    }

    @include element('images') {
        margin-bottom: 60px;
        @media(max-width:600px) {
            margin-bottom: 20px;
            overflow: hidden;
        }
    }

    @include element('image') {
        display: block;
        line-height: 0px;
        width: 100%;
        @media(max-width:600px) {
            min-width: 600px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @include element('title') {
     font-size: 32px;
     font-weight: 700;
     text-align: center;
     text-transform: uppercase;
     margin-bottom: 30px;
    }

    @include element('text') {
        text-align: center;
        font-size: 23px;
        color: $color_bajadas;
        margin: 0px auto;
        width: 100%;
        line-height: 32px;
        margin-bottom: 60px;
        @media(max-width:600px) {
            font-size: 16px;
            line-height: 24px;
            width: 85%;
        }
    }

    @include element('logos') {
        height: 1%;
        overflow: hidden;
    }

    @include element('logo') {
        float: left;
        text-align: center;
        width: 20%;

        @media(max-width:992px) {
            width: 50%;
        }

        @media(max-width:662px) {
            width: 100%;
        }

        img {
            display: inline-block;
            max-width: 150px;
            width: 100%;
        }
    }
}
