@include component('contacto') {
    position: relative;

    @include element('map') {
        overflow: hidden;

        img {
            min-width: 1920px;
        }
    }

    @include element('inner') {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 995px;
        width: 100%;
        @media(max-width:996px) {
            position: initial;
            top: 0px;
            left: 0px;
            transform: none;
        }
    }

    @include element('wrapper') {
        height: 1%;
        overflow: hidden;
    }

    @include element('center'){
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @media(max-width:996px) {
            position: initial;
            top: 0px;
            height: 1%;
            overflow: hidden;
            padding: 30px 0px;
            transform: none;
        }
    }

    @include element('address') {
        margin-bottom: 40px;
        @media(max-width:996px) {
            margin-bottom: 0px;
            width: 50%;
            float: left;
        }

        @media(max-width:700px) {
            margin-bottom: 20px;
            width: 100%;
        }        
    }

    @include element('phone') {
        @media(max-width:996px) {
            margin-bottom: 0px;
            width: 50%;
            float: left;
        }

        @media(max-width:700px) {
            width: 100%;
        }                
    }    
    
    @include element('info') {
        background: #fff;
        float: left;
        position: relative;
        padding: 0px 60px 0px 30px;
        height: 478px;
        width: 40%;
        @media(max-width:996px) {
            height: auto;
            width: 100%;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            width: 15%;

            img {
                height: auto;
                width: 100%;
            }
        }

        p {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0px;
            width: 70%;
            font-weight: 700;
            padding-left: 10px;
            color: #41bed0;
        }
    }

    @include element('form') {
        background: #31c8d9;
        float: left;
        padding-top: 50px;
        width: 60%;   
        @media(max-width:996px) {
            width: 100%;
        }        
        
        h1 {
            color: #fff;
            text-align: center;
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }

        form {
            border: none;
            padding: 0px 75px;
            @media(max-width:700px) {
                padding: 0px 10px;;
            }             

            fieldset {
                border: none;
                padding: 0px;

                .input {
                    margin-bottom: 18px;
                    width: 100%;

                    textarea {
                        height: 120px;
                        border: 1px solid #fff;
                        background: none;
                        width: 100%;
                        color: #fff;
                        padding: 10px;
                        outline: none;
                        resize:none;
                        &::-webkit-input-placeholder {
                            color: #fff;
                            font-size: 16px;
                        }
                        &::-moz-placeholder {
                            color: #fff;
                            font-size: 16px;
                        }
                        &:-ms-input-placeholder {
                            color: #fff;
                            font-size: 16px;
                        }
                        &:-moz-placeholder {
                            color: #fff;
                            font-size: 16px;
                        }                         
                    }

                    input {
                        height: 38px;
                        color: #fff;
                        padding: 0px 15px;
                        border: 1px solid #fff;
                        outline: none;
                        background: none;
                        width: 100%;
                        &::-webkit-input-placeholder {
                            color: #fff;
                            font-size: 16px;
                        }
                        &::-moz-placeholder {
                            color: #fff;
                            font-size: 16px;
                        }
                        &:-ms-input-placeholder {
                            color: #fff;
                            font-size: 16px;
                        }
                        &:-moz-placeholder {
                            color: #fff;
                            font-size: 16px;
                        }                        
                    }
                }

                .submit {
                    text-align: center;
                    width: 100%;

                    input {
                        background: #fff;
                        border-radius: 5px;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin: 0px auto;
                        display: inline-block;
                        height: 42px;
                        font-size: 14px;
                        text-align: center;
                        line-height: 42px;
                        transition: all $transition_duration;
                        cursor: pointer;
                        color: #31c8d9;
                        width: 150px;

                        &:hover {
                            background: none;
                            color: #fff;
                        }
                    }
                }
            }
        }        
    }
}