@include component('footer') {
	background: linear-gradient(to right, #3dc2d4 0%,#208290 90%,#208290 100%);

	@include element('inner') {
		margin: 0px auto;
		padding: 40px 0px;
		max-width: 1200px;
		width: 100%;
	}

	@include element('brand') {
		text-align: center;
		margin-bottom: 20px;
	}

	@include element('image') {
		display: inline-block;
		line-height: 0;
		max-width: 305px;
		width: 100%;
	}

	@include element('socials') {
		text-align: center;
		margin-bottom: 20px;

		a {
			display: inline-block;
			color: $color_white;
			font-size: 20px;
			padding: 0px 50px;
		}
	}

	@include element('copyright') {
		text-align: center;
		color: $color_white;
		font-size: 14px;
		line-height:18px;
		margin: 0px auto;
		width: 75%;
	}
}
