@include component('header') {
	border-bottom: 1px solid #d5d5d5;

	@include element('buttons') {
		background: #f9f9f9;
		padding: 10px;
		text-align: right;
		border-bottom: 1px solid #d5d5d5;
		@media(max-width:992px) {
			text-align: center;
		}				
	}

	@include element('inner') {
		height: 1%;
		margin: 0px auto;
		max-width: 1200px;
	}

	@include element('link') {
		background: #737373;
		display: inline-block;
		line-height: 31px;
		font-size: 11px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		border-radius: 5px;
		text-decoration: none;
		transition: background $transition-duration;
		color: #fff;
		width: 130px;
		&:hover {
			text-decoration: none;
			background: #31c2d9;
		}

		&:nth-of-type(1) {
			margin-right: 15px;
		}

		@include modifier('lightblue') {
			background: #31c2d9;
			&:hover {
				background: #737373;
			}
		}
	}

	@include element('main') {
		height: 1%;
		// padding: 25px 0px;
		@media(max-width:1200px) {
			padding: 25px 10px;
		}
	}

	@include element('brand') {
		float: left;
		margin: 23px 0px;
	}

	@include element('nav') {
		float: right;
		@media(max-width:992px) {
			display: none;
		}		

		ul {
			li {
				display: inline-block;
				position: relative;
				padding: 30px 0px;

				&:last-child {
					a {
						border-right: none;
					}
				}

				a {
					text-decoration: none;
					color: $color_text;
					font-size: 14px;
					border-right: 1px solid $color_text;
					text-transform: uppercase;
					transition: color $transition-duration;
					padding: 5px 20px;
					&:hover {
						color: $color_hover;
					}
				}

				&:hover {
					.c-header__subnav {
						max-height: 500px;
					}
				}
			}
		}
	}

	@include element('subnav') {
		position: absolute;
		left: 0px;
		bottom: -128px;
		background: #fff;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		z-index: 99;

		ul {
			padding: 10px 0px;

			li {
				padding: 10px 0px;
				text-align: center;
				width: 100%;

				a {
					font-size: 12px;
					border: none;
				}
			}
		}
	}
}

.nav__fixed {
	background: #fff;
	top: 0px;
	height: 79px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);

	.c-header__inner {
		height: 79px;
	}
}
