@include component('header') {
	border-bottom: 1px solid #d5d5d5;

	@include element('buttons') {
		background: #f9f9f9;
		padding: 10px;
		text-align: right;
		border-bottom: 1px solid #d5d5d5;
		@media(max-width:992px) {
			text-align: center;
		}				
	}

	@include element('inner') {
		height: 1%;
		overflow: hidden;
		margin: 0px auto;
		max-width: 1200px;
	}

	@include element('link') {
		background: #737373;
		display: inline-block;
		line-height: 31px;
		font-size: 11px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		border-radius: 5px;
		text-decoration: none;
		transition: background $transition-duration;
		color: #fff;
		width: 130px;
		&:hover {
			text-decoration: none;
			background: #31c2d9;
		}

		&:nth-of-type(1) {
			margin-right: 15px;
		}

		@include modifier('lightblue') {
			background: #31c2d9;
			&:hover {
				background: #737373;
			}
		}
	}

	@include element('main') {
		height: 1%;
		overflow: hidden;
		padding: 25px 0px;
		@media(max-width:1200px) {
			padding: 25px 10px;
		}
	}

	@include element('brand') {
		float: left;
	}

	@include element('nav') {
		float: right;
		margin: 5px 0px;
		@media(max-width:992px) {
			display: none;
		}		

		ul {
			li {
				display: inline-block;
				border-right: 1px solid $color_text;
				&:last-child {
					border-right: none;
				}

				a {
					text-decoration: none;
					color: $color_text;
					font-size: 16px;
					text-transform: uppercase;
					transition: color $transition-duration;
					padding: 0px 20px;
					&:hover {
						color: $color_hover;
					}
				}
			}
		}
	}
}
