@include component('jobs') {
    position: relative;
    
    @include element('figure') {
        width: 100%;
        @media(max-width:1050px) {
            overflow: hidden;
        }        
    }

    @include element('image') {
        display: block;
        line-height: 0px;
        height: 1%;
        width: 100%;
        @media(max-width:1050px) {
            min-width: 1050px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @include element('inner') {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        max-width: 1200px;
        width: 100%;
    }

    @include element('title') {
        color: #fff;
        text-align: center;
        font-size: 42px;
        text-transform: uppercase;
        margin-bottom: 50px;
        @media(max-width:1050px) {
            font-size: 30px;
            margin-bottom: 25px;
        }        
    }

    @include element('text') {
        text-align: center;
        color: #fff;
        font-size: 24px;
        margin: 0px auto 50px;
        width: 80%;
        @media(max-width:1050px) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 25px;
        }                
    }

    @include element('link') {
        display: block;
        height: 48px;
        background: #fff;
        border: 1px solid #fff;
        line-height: 48px;
        text-align: center;
        color: #31c8d9;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0px auto;
        border-radius: 5px;
        transform: all $transition-duration;
        width: 185px;
        &:hover {
            color: #fff;
            background: none;
            text-decoration: none;
        }
    }
}