extends layouts/default.pug

block vars
	- var pageTitle = 'Home'
	- var newsTitle = 'Noticias'

block content
	include partials/_bigbanner.pug
	include partials/_clientes.pug
	include partials/_productos.pug
	include partials/_jobs.pug
	include partials/_news.pug
	include partials/_contacto.pug

block append scripts

