extends layouts/default.pug

block vars
    - pageTitle = 'Intranet'
    - navVisible = false

block content
    .c-intranet
        .c-intranet__inner
            .c-intranet__header
                .c-intranet__logo-cliente
                    img(src="/img/intranet-logo-cliente.jpg")
                .c-intranet__header-text
                    h1 Mis productos
                        small selecciona un producto para ver detalle
                .c-intranet__products
                    .c-intranet__product
                        img(src="/img/intranet-logo-step.jpg")
                    .c-intranet__product
                        img(src="/img/intranet-logo-ax.jpg")
                    .c-intranet__product
                        img(src="/img/intranet-logo-ryh.jpg")
        .c-intranet__status
            .c-intranet__inner.c-intranet__inner--pInner
                .c-intranet__advance
                    h2 Avance proyecto
                    .c-intranet__advance-graph
                        img(src="/img/intranet-graph.jpg")
                    p Reporte avance: última actualización dd/mm/yy
                    .c-intranet__advance-link Ver más detalles del proyecto
                .c-intranet__contacto
                    h2 Mi contacto en B&L
                    .c-intranet__contacto-thumb
                        img(src="/img/intranet-contacto-thumb.jpg")
                    h3 Nombre Apellidos
                    p Cargo
                    a.c-intranet__contacto-link Contactar por email
                    a.c-intranet__contacto-link Contactar por teléfono
        .c-intranet__reporteria
            .c-intranet__inner
                each val in ['Reportes', 'Entregas', 'Minutas reuniones']
                    .c-intranet__reportes
                        h1.c-intranet__reportes-title #{val}
                        each val in [1, 2, 3, 4, 5]
                            .c-intranet__reporte
                                .c-intranet__reporte-nombre
                                    p Reporte #{val}
                                .c-intranet__fecha
                                    p dd/mm/yy
                                    a.c-intranet__fecha-link Descargar
                        a.c-intranet__reportes-link Ver más
                .c-intranet__propuesta
                    .c-intranet__propuesta-figure
                        img.c-intranet__propuesta-image(src="/img/intranet-propuesta-imagen.jpg")
                    .c-intranet__propuesta-inner
                        h1.c-intranet__propuesta-title Propuesta comercial final
                        a.c-intranet__propuesta-link(href="jobs.html") Descargar
        .c-intranet__status
            .c-intranet__inner.c-intranet__inner--pInner
                .c-intranet__contrata
                    h2 Contrata nuestros productos
                    ul
                        li Limpieza y Repoblamiento de data
                        li Automatización de Contenidos emocionales
                        li Software de Gestión de datos maestros
                    h2 ¡Contacta a tu sales manager!

                .c-intranet__contacto.c-intranet__contacto--noPadTop
                    h2.mBottom20 Mi contacto en B&L
                    .c-intranet__contacto-thumb.c-intranet__contacto-thumb--mBottom
                        img(src="/img/intranet-contacto-thumb.jpg")
                    h3 Nombre Apellidos
                    p Cargo
                    a.c-intranet__contacto-link Contactar por email
                    a.c-intranet__contacto-link Contactar por teléfono            

        .c-intranet__inner
            each val in ['Historial de propuestas ']
                .c-intranet__reportes
                    h1.c-intranet__reportes-title #{val}
                    each val in [1, 2, 3, 4, 5]
                        .c-intranet__reporte
                            .c-intranet__reporte-nombre
                                p Reporte #{val}
                            .c-intranet__fecha
                                p dd/mm/yy
                                a.c-intranet__fecha-link Descargar
                    a.c-intranet__reportes-link Ver más        
                

block append scripts