.c-slider
	.c-slider__inner
		.c-slider__items.owl-carousel
			.c-slider__item
				.c-slider__image
					img(src="img/home-nuevo-slider-1.png" alt="Slider name")
				.c-slider__info
					.c-slider__icon
						img(src="img/slider-icon-1.png", alt="")
					h1
						small Optimización, automatización,
						| omnicanalidad
					p En Brand & Label entregamos soluciones tecnológicas para la optimización de data de producto, automatización de contenido y omnicanalidad para empresas de eCommerce y retail
					//- a(href="#") Ver Más
			.c-slider__item
				.c-slider__image
					img(src="img/home-nuevo-slider-1.png" alt="Slider name")
				.c-slider__info
					.c-slider__icon
						img(src="img/slider-icon-1.png", alt="")
					h1
						small Optimización, automatización,
						| omnicanalidad
					p En Brand & Label entregamos soluciones tecnológicas para la optimización de data de producto, automatización de contenido y omnicanalidad para empresas de eCommerce y retail
					//- a(href="#") Ver Más					