.c-slider
	.c-slider__inner
		.c-slider__items
			.c-slider__item
				.c-slider__image
					img(src="/img/slide-1.png" alt="Slider name")
				.c-slider__info
					h1
						| Abre nuevos
						strong Mercados
					p Nuestro equipo de desarrollo de negocios asiste a firmas mundiales que quieren emprender una rapida expansión en Latinoamérica con un impulso adicional.
					a(href="#") Ver Más
