.c-caracteristicas
    .c-caracteristicas__inner
        h1.c-caracteristicas__title Lo que nos hace únicos
        .c-caracteristicas__items
            .c-caracteristicas__item
                figure.c-caracteristicas__item-icon
                    img(src="img/laptop-profits-graphics.jpg")
                h2.c-caracteristicas__item-title Profesionales
                p.c-caracteristicas__item-text Resultados de calidad en todos los servicios y atención especial hacia nuestros clientes.
            .c-caracteristicas__item
                figure.c-caracteristicas__item-icon
                    img(src="img/award.jpg")
                h2.c-caracteristicas__item-title Únicos en el mercado
                p.c-caracteristicas__item-text Somos líderes de un innovador negocio que entreda soluciones únicas e la región.
            .c-caracteristicas__item
                figure.c-caracteristicas__item-icon
                    img(src="img/chart-analysis.jpg")
                h2.c-caracteristicas__item-title Expertos en data
                p.c-caracteristicas__item-text Trabajamos con un equipo experto en estructutación, limpieza, verificación y administración de datos.
