.c-carrusel
    .c-carrusel__inner
        h1 Conócenos
        .c-carrusel__slides
            each val in [1, 2, 3]
                .c-carrusel__slide
                    img(src="img/carrusel-slide-thumb.jpg")
