.c-contacto
    .c-contacto__map
        img.c-contacto__image(src="/img/home-contacto-mapa.jpg")
    .c-contacto__inner
        .c-contacto__wrapper
            .c-contacto__info
                .c-contacto__center
                    .c-contacto__address
                        span
                            img(src="/img/contaco-ubicacion.png")
                        p Avenida del Valle Norte 945, oficina 5609, Huechuraba, Santiago,Chile
                    .c-contacto__phone
                        span
                            img(src="/img/contacto-telefono.png")
                        p +56 2 32451354                
            .c-contacto__form
                h1 Contáctanos
                form(action="#")
                    fieldset
                        .input.name
                            input(type="text" placeholder="Nombre")
                        .input.email
                            input(type="text" placeholder="E-mail")
                        .input.asunto
                            input(type="text" placeholder="Asunto")
                        .input.message
                            textarea(placeholder="Mensaje")                                                                                    
                        .input.submit
                            input(type="submit" value="Enviar")

