footer.c-footer
	.c-footer__inner
		.c-footer__brand
			img.c-footer__image(src='img/footer-logo.png' alt='BrandLabel')
		.c-footer__socials
			each val in ['fa fa-facebook','fa fa-twitter', 'fa fa-linkedin']
				a(href='#')
					span(class=val)
		p.c-footer__copyright Copyright © 018 and & Label  Todos los derechos reservados.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
