header.c-header
	.c-header__buttons
		.c-header__inner
			a(href="intranet.html").c-header__link Portal Clientes
			a(href="#").c-header__link.c-header__link--lightblue Contacto
	.c-header__main
		.c-header__inner
			a.c-header__brand(href='#')
				img.c-header__image(src='/img/header-logo.png' alt='Brand Label')
			if navVisible
				nav.c-header__nav
					ul
						li
							a(href="/") Inicio
						li
							a(href="quienes-somos.html") Quienes somos
						li
							a(href="productos.html") Productos
						li
							a(href="blog.html") Blog