.c-jobs
    .c-jobs__figure
        img.c-jobs__image(src="img/home-trabaja-con-nosotros.png")
    .c-jobs__inner
        h1.c-jobs__title Trabaja con nosotros
        p.c-jobs__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodoligula eget dolor. Aenean massa.
        a.c-jobs__link(href="jobs.html") Postula
