include _mixins.pug
.c-news
    .c-news__inner
        h1 Noticias
        .c-news__items
            +news('BRAND&LABEL EN ECONOMÍA Y NEGOCIOS DE EL MERCURIO:', 1, 2, 3, 4)
                p.c-news__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.


                        