.c-ofertas
    .c-ofertas__inner
        h1 Ofertas laborales
        .c-ofertas__items
            .c-ofertas__item
                .c-ofertas__text
                    p Cargo:
                        strong Nombre
                    p Vacantes:
                        strong 0
                    p Fecha de cierre:
                        strong dd/mm/aa
                .c-ofertas__actions
                    a.c-ofertas__link(href="#") Ver detalle 
                    a.c-ofertas__link(href="#") Postular
            .c-ofertas__item
                .c-ofertas__text
                    p Cargo:
                        strong Nombre
                    p Vacantes:
                        strong 0
                    p Fecha de cierre:
                        strong dd/mm/aa
                .c-ofertas__actions
                    a.c-ofertas__link(href="#") Ver detalle 
                    a.c-ofertas__link(href="#") Postular