.c-productos
    .c-productos__inner
        h1.c-productos__title Productos
        //Producto
        .c-productos__item
            .c-productos__image.c-productos__image--right.on-mobile
                img.c-productos__image-thumb(src="/img/productos-ryh-image.jpg" href="RyH")        
            .c-productos__text
                h2.c-productos__text-title RyH
                p.c-productos__text-parrafo Servicio de Repoblamiento y Homologación de atributos de productos. Enriquece y valida la información de fichas técnicas para catálogos online.
                a.c-productos__text-link(href="#") Ver más
            .c-productos__image.c-productos__image--right.on-desktop
                img.c-productos__image-thumb(src="/img/productos-ryh-image.jpg" href="RyH")
        //Fin Producto
        .c-productos__separator
            img(src="/img/productos-separator-1.png")
        //Producto
        .c-productos__item
            .c-productos__image
                img.c-productos__image-thumb(src="/img/productos-ryh-image.jpg" href="RyH")        
            .c-productos__text.c-productos__text--right
                h2.c-productos__text-title Ax-Semantics
                p.c-productos__text-parrafo Servicio de Repoblamiento y Homologación de atributos de productos. Enriquece y valida la información de fichas técnicas para catálogos online.
                a.c-productos__text-link(href="#") Ver más            
        //Fin Producto
        .c-productos__separator
            img(src="/img/productos-separator-2.png") 
        //Producto   
        .c-productos__item
            .c-productos__image.c-productos__image--right.on-mobile
                img.c-productos__image-thumb(src="/img/productos-ryh-image.jpg" href="RyH")                        
            .c-productos__text
                h2.c-productos__text-title STEP by Stibo Systems
                p.c-productos__text-parrafo Servicio de Repoblamiento y Homologación de atributos de productos. Enriquece y valida la información de fichas técnicas para catálogos online.
                a.c-productos__text-link(href="#") Ver más
            .c-productos__image.c-productos__image--right.on-desktop
                img.c-productos__image-thumb(src="/img/productos-ryh-image.jpg" href="RyH")                