.c-testimonios
    .c-testimonios__inner
        .c-testimonios__slides
            .c-testimonios__slide
                h2 La experiencia de nuestro equipo
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eros libero, euismod id tincidunt vitae, dictum non quam. Duis risus erat, euismod in bibendum quis, maximus fringilla magna. Sed maximus, mi a congue.

                .c-testimonios__slide-thumb
                    img(src="/img/testimonios-thumb.jpg")
                h3 Lorem Ipsum
                    span (Dolor sir Amet)
                