//- Default Template
doctype html
html(lang="es")
	block vars
		- var pageTitle = 'Título Genérico'
		- var bannerTitle = ''
		- var bannerText = ''	
		- var newsTitle = 'Noticias'
		- var navVisible = true

	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title #{pageTitle}
		include ../partials/_favicon.pug
		// inject:css
		// endinject
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700")

	body
		block header
			include ../partials/_header.pug

		div.c-wrapper
			block content

		block scripts
			script(src="js/libs/bundle.js")
			// inject:js
			// endinject
			script(src="js/main.min.js")

		block foot
			include ../partials/_footer.pug

